.logo {
  font-family: "Cormorant Garamond", serif;
}

.select {
  position: sticky;
  z-index: 1;
  top: 0px;
}

.welcome {
  font-family: "Lavishly Yours", cursive;
}

.note {
  font-family: "Cormorant Garamond", serif !important;
  font-weight: bold;
  color: gray;
}

div.card p {
  font-family: "Cormorant Garamond", serif !important;
  font-weight: bold;
}

.card-title {
  font-family: "Cormorant Garamond", serif !important;
  font-weight: bold;
  font-size: 40px;
}

@media only screen and (max-width: 761px) {
  .oafa {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-row-gap: 10px;
  }

  .card1 {
    grid-column: 1/13;
  }
  .card2 {
    grid-column: 1/13;
  }
  .card3 {
    grid-column: 1/13;
  }
}

.media {
  font-size: 30px;
  margin: 5px;
  color: black;
}

.slogan {
  font-family: "Lavishly Yours", cursive;
  font-size: 70px;
}

.contact {
  font-family: "Cormorant Garamond", serif !important;
}
